In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import random as rd

##########Stanford Twitter Sentiment Corpus#############

# skip = sorted(rd.sample(range(1600000), 1600000-100000))

columns = ['polarity','tweet_id','date','query_string','username','tweet_text']
data = pd.read_csv("drive/My Drive/training.csv", encoding = "ISO-8859-1", engine='python', sep=",", header=None, names=columns)

# sts_train = pd.read_csv("training.csv", encoding = "ISO-8859-1", engine='python', sep=",", header=None, skiprows = skip)
sts_test = pd.read_csv("drive/My Drive/testdata.csv", sep=",", header = None)
# skip = sorted(rd.sample(range(1600000), 1600000-16000))
# sts_validation = pd.read_csv("training.csv", encoding = "ISO-8859-1", engine="python", sep=",", header=None, skiprows = skip)

In [0]:
data.polarity.value_counts() #80,000 positive and negative examples

4    800000
0    800000
Name: polarity, dtype: int64

In [0]:
data

         polarity  ...                                         tweet_text
0               0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1               0  ...  is upset that he can't update his Facebook by ...
2               0  ...  @Kenichan I dived many times for the ball. Man...
3               0  ...    my whole body feels itchy and like its on fire
4               0  ...  @nationwideclass no, it's not behaving at all....
...           ...  ...                                                ...
1599995         4  ...  Just woke up. Having no school is the best fee...
1599996         4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599997         4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599998         4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599999         4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]

In [0]:
data.drop(['tweet_id','date','query_string','username'],axis=1,inplace=True)

In [0]:
data[data.polarity == 0].head(20) #negative examples start on row 0 to 799999

    polarity                                         tweet_text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....
5          0                      @Kwesidei not the whole crew
6          0                                        Need a hug
7          0  @LOLTrish hey  long time no see! Yes.. Rains a...
8          0               @Tatiana_K nope they didn't have it
9          0                          @twittera que me muera ?
10         0        spring break in plain city... it's snowing
11         0                         I just re-pierced my ears
12         0  @caregiving I couldn't bear to watch it.  And ...
13         0  @octolinz16 It it counts, idk why I did either...
14         0  @smarrison i would've been the first, but i di...
15         0  @iamjazzyfizzle I wish I got to watch it with ...
16         0  Hollis' death scene will hurt me severely to w...
17         0                               about to file taxes
18         0  @LettyA ahh ive always wanted to see rent  lov...
19         0  @FakerPattyPattz Oh dear. Were you drinking ou...

In [0]:
data[data.polarity == 4].head(20) #positive examples start on row 800000

        polarity                                         tweet_text
800000         4       I LOVE @Health4UandPets u guys r the best!!
800001         4  im meeting up with one of my besties tonight! ...
800002         4  @DaRealSunisaKim Thanks for the Twitter add, S...
800003         4  Being sick can be really cheap when it hurts t...
800004         4    @LovesBrooklyn2 he has that effect on everyone
800005         4  @ProductOfFear You can tell him that I just bu...
800006         4  @r_keith_hill Thans for your response. Ihad al...
800007         4  @KeepinUpWKris I am so jealous, hope you had a...
800008         4  @tommcfly ah, congrats mr fletcher for finally...
800009         4  @e4VoIP I RESPONDED  Stupid cat is helping me ...
800010         4  crazy day of school. there for 10 hours straii...
800011         4  @naughtyhaughty HOW DID I FORGET ABOUT TWO AND...
800012         4  @nileyjileyluver Haha, don't worry! You'll get...
800013         4  @soundwav2010 At least I won't be the only one...
800014         4  @LutheranLucciol Make sure you DM me if you po...
800015         4               Just added tweetie to my new iPhone
800016         4  @michellardi i really don't know. i think its ...
800017         4         @nicolerichie: your picture is very sweet
800018         4  Catching Up on Emails, RSS and Random BACN. Th...
800019         4  Dancing around the room in Pjs, jamming to my ...

In [0]:
data['pre_clean_len'] = [len(t) for t in data.tweet_text]

In [0]:
from pprint import pprint
data_dict = {
    'polarity':{
        'type':data.polarity.dtype,
        'description':'sentiment class - 0:negative, 1:positive'
    },
    'tweet_text':{
        'type':data.tweet_text.dtype,
        'description':'tweet text'
    },
    'pre_clean_len':{
        'type':data.pre_clean_len.dtype,
        'description':'Length of the tweet before cleaning'
    },
    'dataset_shape':data.shape
}
pprint(data_dict)

{'dataset_shape': (1600000, 3),
 'polarity': {'description': 'sentiment class - 0:negative, 1:positive',
              'type': dtype('int64')},
 'pre_clean_len': {'description': 'Length of the tweet before cleaning',
                   'type': dtype('int64')},
 'tweet_text': {'description': 'tweet text', 'type': dtype('O')}}

In [0]:
data[data.pre_clean_len > 140].head(10) #character limit is 140

      polarity  ... pre_clean_len
213          0  ...           142
226          0  ...           141
279          0  ...           145
343          0  ...           145
400          0  ...           144
464          0  ...           146
492          0  ...           150
747          0  ...           141
957          0  ...           141
1064         0  ...           141

[10 rows x 3 columns]

In [0]:
#Data preparation
from bs4 import BeautifulSoup
import re
from nltk.tokenize import WordPunctTokenizer


tok = WordPunctTokenizer()

pat1 = r'@[A-Za-z0-9]+'
pat2 = r'https?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(combined_pat, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)
    lower_case = letters_only.lower()
    words = tok.tokenize(lower_case)
    return (" ".join(words)).strip()

In [0]:
#Clean whole dataset
nums = [0,400000,800000,1200000,1600000]

In [0]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

pat1 = r'@[A-Za-z0-9_]+'
pat2 = r'https?://[^ ]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner_updated(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

In [0]:
clean_tweet_texts = []

In [0]:
data.head()

   polarity                                         tweet_text  pre_clean_len
0         0  @switchfoot http://twitpic.com/2y1zl - Awww, t...            115
1         0  is upset that he can't update his Facebook by ...            111
2         0  @Kenichan I dived many times for the ball. Man...             89
3         0    my whole body feels itchy and like its on fire              47
4         0  @nationwideclass no, it's not behaving at all....            111

In [0]:
print("Cleaning and parsing the tweets...\n")


def clean_text():   
  for i in range(0,len(data)):
    if((i+1)%100000 == 0 ):
      print("Tweets %d of %d has been processed" % (i+1,len(data)))                                                                   
    clean_tweet_texts.append(tweet_cleaner_updated(data['tweet_text'][i]))

Cleaning and parsing the tweets...

In [0]:
clean_text()

Tweets 100000 of 1600000 has been processed
Tweets 200000 of 1600000 has been processed
Tweets 300000 of 1600000 has been processed
Tweets 400000 of 1600000 has been processed
Tweets 500000 of 1600000 has been processed
Tweets 600000 of 1600000 has been processed
Tweets 700000 of 1600000 has been processed
Tweets 800000 of 1600000 has been processed
Tweets 900000 of 1600000 has been processed
Tweets 1000000 of 1600000 has been processed
Tweets 1100000 of 1600000 has been processed
Tweets 1200000 of 1600000 has been processed
Tweets 1300000 of 1600000 has been processed
Tweets 1400000 of 1600000 has been processed
Tweets 1500000 of 1600000 has been processed
Tweets 1600000 of 1600000 has been processed

In [0]:
len(clean_tweet_texts)

1600000

In [0]:
clean_df = pd.DataFrame(clean_tweet_texts, columns=['tweet_text'])
clean_df['target'] = data.polarity
clean_df.to_csv('drive/My Drive/clean_tweet.csv',encoding='utf-8')

In [0]:
clean_df

                                                tweet_text  target
0        awww that bummer you shoulda got david carr of...       0
1        is upset that he can not update his facebook b...       0
2        dived many times for the ball managed to save ...       0
3           my whole body feels itchy and like its on fire       0
4        no it not behaving at all mad why am here beca...       0
...                                                    ...     ...
1599995  just woke up having no school is the best feel...       4
1599996   thewdb com very cool to hear old walt interviews       4
1599997  are you ready for your mojo makeover ask me fo...       4
1599998  happy th birthday to my boo of alll time tupac...       4
1599999                               happy charitytuesday       4

[1600000 rows x 2 columns]

In [0]:
new_df = pd.read_csv('clean_tweet.csv',index_col=0)
new_df.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                          tweet_text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0

In [0]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
tweet_text    1596041 non-null object
target        1600000 non-null int64
dtypes: int64(1), object(1)
memory usage: 36.6+ MB

In [0]:
new_df[new_df.isnull().any(axis=1)].head()

    tweet_text  target
208        NaN       0
249        NaN       0
282        NaN       0
398        NaN       0
430        NaN       0

In [0]:
np.sum(new_df.isnull().any(axis=1))

3959

In [0]:
df = pd.read_csv("drive/My Drive/training.csv", encoding = "ISO-8859-1", engine='python', sep=",", header=None, names=columns)
df.iloc[new_df[new_df.isnull().any(axis=1)].index,:].head()

     polarity    tweet_id  ...      username             tweet_text
208         0  1467863072  ...      Artiel87             @mandayyy
249         0  1467874569  ...      Artiel87           @mandayyy
282         0  1467881474  ...     __Susan__  @ITS_NEMESIS -------
398         0  1467912842  ...  KimberlyKane         @danadearmond
430         0  1467919452  ...     jtmal0723             @anistorm

[5 rows x 6 columns]

In [0]:
new_df.dropna(inplace=True) #NAN values are coming from just @username, delete them 
new_df.reset_index(drop=True,inplace=True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596041 entries, 0 to 1596040
Data columns (total 2 columns):
tweet_text    1596041 non-null object
target        1596041 non-null int64
dtypes: int64(1), object(1)
memory usage: 24.4+ MB